<IfModule mod_rewrite.c>
    # 允许 Apache 跟随符号链接
    Options +FollowSymlinks

    # 开启重写引擎
    RewriteEngine On

    # 重定向尾部斜杠的 URL...
    # 如果请求的路径不是一个目录
    RewriteCond %{REQUEST_FILENAME} !-d
    # 匹配尾部有斜杠的路径，并重定向到去掉尾部斜杠的路径
    # [L] 表示这是最后一条规则；[R=301] 表示使用 HTTP 301（永久重定向）
    RewriteRule ^(.+)/$ /$1 [L,R=301]

    # 将特定目录及其子目录和文件返回404
    # 匹配 App、vendor、System 或 Writable 目录及其所有子目录和文件，并返回404
    # [L] 表示这是最后一条规则；[R=404] 表示使用 HTTP 404（未找到）状态码
    RewriteRule ^(App|vendor|System|Writable)(/.*)?$ - [L,R=404]

    # 将所有其他请求发送到 index.php
    # 如果请求的路径不是一个文件
    RewriteCond %{REQUEST_FILENAME} !-f
    # 如果请求的路径不是一个目录
    RewriteCond %{REQUEST_FILENAME} !-d
    # 将所有其他请求重写到 index.php，并将请求路径作为查询参数传递
    # [L] 表示这是最后一条规则；[QSA] 表示保留查询字符串
    RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
</IfModule>