/* 通用设置 */
* {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, ui-monospace;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7fc;
    color: #333;
    margin: 0;
    padding: 0;
}

.card {
    border: none;
}

#chat-box-container {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    max-height: 93vh;
    min-height: 93vh;
    flex-direction: column;
}

/* Chat Box */
#chat-box {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #f9f9f9;
    padding: 1rem;
    scrollbar-width: thin;
    scrollbar-color: #ccc #f9f9f9;
}

#chat-box::-webkit-scrollbar {
    width: 8px;
}

#chat-box::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

#chat-box::-webkit-scrollbar-track {
    background-color: #f9f9f9;
}

#scroll-down-button {
    position: absolute;
    bottom: 90px;
    margin: 10px;
    right: 16px;
    display: none;
    z-index: 1;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#scroll-down-button:hover {
    background-color: #0056b3;
}

#select-file-preview {
    bottom: 90px;
    z-index: 1;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

#online-users-list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

#online-users-list li {
    padding-right: 4px;
}

/* 在线用户数量 */
#online-users-list-count,
#chatroom-user-count {
    color: #007bff;
}

/* 网络状态 */
.network-status {
    display: none;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

/* 消息样式 */
.chat-message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    width: auto;
    /* 允许宽度自动适应内容 */
}

/* 右侧消息 */
.chat-message.right .message-content {
    margin-left: auto;
    background-color: #bee3f8;
}

/* 左侧消息 */
.chat-message.left .message-content {
    background-color: #fff;
    border: 1px solid #ddd;
}

.event-msg {
    display: none;
}

.user-delete-msg {
    text-align: center;
    padding: 10px;
}

.user-delete-msg .username {
    display: none;
}

.context-menu-active {
    background-color: #f0f8ff;
    border: 1px solid #007bff;
}

.chat-message .message-content {
    max-width: 80%;
    padding: 1rem;
    border-radius: 10px;
    word-wrap: break-word;
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.chat-message .username {
    font-weight: 600;
    margin-bottom: 5px;
    color: #007bff;
    font-size: 0.95rem;
}

.chat-message .user-group {
    font-size: 0.75rem;
    color: #888;
    margin-left: 0.5rem;
    display: inline-block;
}

.chat-message .timestamp {
    font-size: 0.75rem;
    color: #888;
    margin-top: 10px;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
    border: 2px solid #ddd;
}

.right .avatar {
    margin-left: 10px;
    margin-right: 0;
}

/* 通用按钮样式 */
button {
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}

/* 主按钮 */
button.primary {
    background-color: #007bff !important;
    color: white !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !important;
}

button.primary:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

button.primary:active {
    background-color: #004085;
    transform: translateY(2px);
}

button.primary:focus {
    box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5);
}

/* 禁用按钮 */
button:disabled {
    background-color: #ccc !important;
    color: #666 !important;
    cursor: not-allowed;
    box-shadow: none !important;
}

button:disabled:hover {
    background-color: #ccc;
    transform: none;
}

pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
}

.plyr {
    max-height: 100%;
}

.plyr--audio {
    padding-top: 50vh;
}

iframe {
    max-height: 100%;
    width: 100%;
    height: 100%;
    border: none;
}

/* Loading屏幕样式 */
#loading {
    display: flex;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 120%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#loading .spinner-border {
    width: 3rem;
    height: 3rem;
    margin-bottom: 10px;
    /* border-color: #007bff; */
}

#loading p {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

/* 大屏幕设备（桌面） */
@media (min-width: 992px) {
    .chat-message .message-content {
        max-width: 50%;
    }

    .system-msg {
        position: relative;
        left: 45%;
        margin-left: -100px;
        max-width: 30%;
        font-size: 0.9rem;
        padding: 10px;
    }
}

/* 中等屏幕设备（平板） */
@media (min-width: 768px) and (max-width: 991px) {
    .system-msg {
        position: relative;
        left: 50%;
        margin-left: -100px;
        max-width: 20%;
        font-size: 0.9rem;
        padding: 10px;
    }

    .chat-message .message-content {
        max-width: 55%;
    }
}

/* 小屏幕设备（手机） */
@media (max-width: 767px) {
    .chat-message .message-content {
        max-width: 75%;
    }

    .system-msg {
        text-align: center;
        width: 100%;
        font-size: 0.9rem;
        padding: 10px;
    }
}