/* 通用设置 */
* {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, ui-monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #f8f9fd;
}

.container {
    display: flex;
    flex-direction: column;
    /* 默认列方向 */
    border-radius: 10px;
    max-width: 960px;
    width: 100%;
    padding-right: unset;
}

.user-auth-container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    text-align: center;
    width: 100%;
    /* 默认全宽 */
    border-radius: unset !important;
}

.user-auth-container h1 {
    margin-bottom: 2rem;
    color: #333;
    text-align: left;
}

.user-auth-container label {
    display: block;
    text-align: left;
    margin-top: 1rem;
    color: #333;
}

.user-auth-container input {
    padding: 0.8rem;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.user-auth-container button {
    width: 100%;
    padding: 0.8rem;
    margin-top: 1.5rem;
    background: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.user-auth-container button:hover {
    background: #0056b3;
}

.user-login-auth-image,
.user-register-auth-image {
    display: none;
    /* 默认隐藏 */
}

.captcha-container {
    display: flex;
    align-items: center;
}

.captcha-container img {
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 6px;
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        /* 更大屏幕上增加最大宽度 */
    }

    .user-auth-container {
        padding: 3rem;
        /* 增加内边距 */
    }

    .user-auth-container button {
        font-size: 1.2rem;
        /* 增大按钮文字大小 */
    }
}

@media screen and (max-width: 576px) {
    .container {
        margin: 1rem;
        /* 小屏幕上增加外边距，使内容不要紧靠屏幕边缘 */
    }
}