body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.navbar-brand {
    font-weight: bold;
    color: #fff !important;
}

.nav-link {
    color: rgba(255, 255, 255, .8) !important;
    transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
    color: #fff !important;
}

.card {
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    /* 初始阴影 */
    transition: box-shadow 0.3s ease;
    /* 设置阴影的过渡效果 */
}

.card:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
    /* 悬停时增加阴影的大小和强度 */
}

.card-header {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.select-all-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.select-all-container input {
    margin-right: 5px;
}

.table-fixed-header {
    width: 100%;
    border-collapse: collapse;
}

img {
    max-width: 100%;
    max-height: 10vh;
}

.table-fixed-header thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    /* 确保背景色与页面一致 */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    /* 添加阴影效果，提升表头的可视化 */
}

.table-fixed-header th,
.table-fixed-header td {
    padding: 8px 16px;
    border: 1px solid #ddd;
}

#loading {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#settings .list-group-item {
    cursor: pointer;
}

.footer {
    background-color: #343a40;
    color: #fff;
}